<h3>Email Lists</h3>

<p>To sign up for the general PUMC list-serv follow the instructions at the webpage https://lists.princeton.edu/.  The list name is PUMC.</p>

<p>The climbing team list-serv is coming soon.  For now contact the Team Captain to be added to a mailing list.</p>