<h1>The Princeton University Mountaineering Club</h1>

<h3>News Items</h3>

<% @news_items.each do |news_item| %>
	<h4><%= news_item.title %></h4>
	<p><%= news_item.body %></p>
	<p>Created at <%= news_item.created_at %></p>
<% end %>
