<h3>Donate</h3>

<p>For now all money donated to the PUMC will be used to purchase mountaineering gear for the club.  If you wish to donate money for a specific piece of gear, make sure to contact the president and the treasurer.  Also contact these people if you are interested in donating money for a purpose other than buying gear.</p>

<p>Donations can be make made online via pay-pal by following this link (coming soon!).  Donations can also be made by check addressed to the Princeton University Mountaineering Club.  Contact the treasurer for more information on donations via check.</p>
