<h3>Calendar</h3>

<p>We have a publicly available Google calendar, which you can see below:<br /><br /></p>

<iframe src="http://www.google.com/calendar/embed?src=91ljbt1giaks0qhvklk69la0m8%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="600" height="450" frameborder="0" scrolling="no"></iframe>
