<h3>Gear</h3>

<p>We currently do not have enough club money to buy any gear.  Donate today and we'll start buying as soon as we have the money!  Contact the PUMC president if you have any questions or if you represent a company interested in sponsoring the PUMC.</p>
