<h3>Climbing Walls:</h3>

<p><b>The OA Wall:</b><br /><br />There is limited top-roping and bouldering at the OA wall in the stadium.  More information is available at the website <a href="http://www.princeton.edu/~oa">http://www.princeton.edu/~oa</a>.</p>

<p><b>Rockville:</b><br /><br />Rockville is the closest climbing gym to Princeton, located around 15 minutes away in Hamilton county. The gym has good top-roping, decent leading, a bouldering cave, and a campus board.  Check them out at <a href="http://www.rockvilleclimbing.com/">http://www.rockvilleclimbing.com/</a>.</p>

<p><b>Elite Climbing:</b><br /><br />Elite is the second closest gym to Princeton at around 40 minutes away in Maple Shade, NJ. This place offers significantly better bouldering than Rockville, though they have limited top-roping. Their website can be found at <a href="http://www.eliteclimbing.com/">http://www.eliteclimbing.com/</a>.</p>

<p><b>Go Vertical:</b><br /><br />This gym offers arguably the best lead climbing in the area. They also have good top-roping and a small bouldering cave. It takes about 50 minutes to get there from Princeton. Visit them at <a href="http://www.govertical.com/">http://www.govertical.com/</a>.</p>

<p><b>Philadelphia Rock Gyms (PRG):</b><br /><br />There are two Philadelphia Rock Gyms: PRG Oaks and PRG Valley (<a href="http://www.philarockgym.com/">http://www.philarockgym.com/</a>). Both gyms take between an hour and an hour and a half to get to from Princeton, with Valley being slightly further away. Both gyms offer superior bouldering and PRG Valley has an excellent lead wall.</p>

<p><b>The New Jersey Rock Gym:</b><br /><br />The NJ Rock Gym (<a href="http://www.njrockgym.com">http://www.njrockgym.com</a>) is around an hour and 15 minutes from Princeton.  This gym has excellent bouldering and good leading and top-roping.</p>

<p><b>Gravity Vault:</b><br /><br />There are two Gravity Vault gyms (<a href="http://www.gravityvault.com/">http://www.gravityvault.com/</a>), one in Chatham, NJ and the other in Upper Saddle River, NJ. The Chatham gym is about an hour away and the Upper Saddle River gym is around an hour and a half away. Both gyms have excellent bouldering. The Chatham gym is newer and has good lead climbing and top-roping.</p>

<p><b>The Dillon Bouldering Wall:</b><br /><br />Coming Soon!</p>
