<h3>Climbing Team</h3>

<h5>About:</h5>

<p>The climbing team competes in the Collegiate Climbing Series (<a href="http://usaclimbing.net/ccs/home.cfm">http://usaclimbing.net/ccs/home.cfm</a>) as well as in other local competitions.  The Collegiate Climbing Series is a new nation wide series that consists of regional competitions and a national championship.  We belong to the Philly area region and compete against schools primarily within an hour and a half drive from Princeton.  The series is evolving and growing in popularity, so stay tuned for more updates!</p>
<p>If you are interested in joining the climbing team please contact the team captain.  No previous experience is necessary, as we are allowed to enter as many people as we like into the competitions.  There will be regular training sessions at Dillon gym and at the climbing walls.  Team members are encouraged to come to as many of these practices and to as many of the competitions as they can, though there is no obligation.</p>

<h5>Results:</h5>

<p>Spring 2010: Princeton wins the CCS Philly area Regional Championship!</p>
