<h3>About Us:</h3>

<p>Founded in the Fall of 2009, the Princeton University Mountaineering Club (PUMC) is a Princeton student organization dedicated to promoting and providing opportunities for Mountaineering to members of the University community.  The club is open to all Princeton students, both undergraduate and graduate, along with their significant others and members of faculty and staff.</p>

<p>Mountaineering is defined as a sport involving hiking, backpacking, climbing, and skiing in the mountains.  The PUMC is open to anyone interested in mountain sports.  We provide a forum for members to connect with other members having similar interests.  Members can post to the list-servs to find partners for trips, join PUMC organized outings, and come along to social events.  Membership dues are not required to join the PUMC, though we do request you make a small donation, either by check addressed to the Princeton University Mountaineering Club or by the pay-pal link on this webpage.  All money will go towards buying club gear such as ropes, racks, axes, and crampons.</p>

<p>All PUMC organized trips will be announced over the main list-serv and listed on this web-page's calender.  If you would like to reserve a spot on a trip contact the trip organizer.  Also contact this person if you have any questions about the trip, such as what kind of experience is necessary or what personal gear to bring.  If you have an idea for a trip you would like to organize, feel free to post to the list-serv or send the Outdoor/Indoor Meet Secretary an email.  Social events will also be announced over the list-serv and on the calendar.</p>

<p>The PUMC also supports the Princeton Climbing Team.  The climbing team, founded in the Spring of 2010, trains for and competes in the nation-wide Collegiate Climbing Series.  See the appropriate section of this web-page for more information on the team.</p>

<p>The PUMC is a beginner oriented club.  If you have never climbed before or set foot in the mountains do not hesitate to come along to one of our beginner friendly events and give it a try.  Mountaineering is an amazing and life-changing sport, and one of its best aspects is a strong and tightly knit community.  The aim of the PUMC is to strengthen this community while helping it grow.</p>

<p>Please feel free to contact any of the PUMC secretaries if you have further questions.</p>
