<h3>Contact Us:</h3>

<p>The club maintains the website puclimb@princeton.edu and general inquiries may be sent to that address.  For more specific question contact the appropriate PUMC secretary.</p>

<p>President: Ben Safdi, bsafdi@princeton.edu<br />
Outdoor Meet Sectretary: Ben Safdi<br />
Indoor Meet Secretary: Ben Safdi<br />
Treasurer:  Loren Alegria, lalegria@princeton.edu<br />
Social Secretary: Gene Merewether, gmerewet@princeton.edu<br />
Climbing Team Captain: Wesley Verne, wverne@princeton.edu<br />
Webmaster: John White, jmw1729@princeton.edu</p>
