<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">

	<head>
		<link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/compressed/baseline.compress.css">
		<link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/site.css">

		<link type="text/css" rel="alternate stylesheet" title="baseline" href="/stylesheets/background-grid/grid.baseline.css">

		<link type="text/css" rel="alternate stylesheet" title="baseline-column" href="/stylesheets/background-grid/grid.baseline.column.css">
		<link type="text/css" rel="alternate stylesheet" title="column" href="/stylesheets/background-grid/grid.column.css">

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Princeton University Mountaineering Club</title>
		<meta name="generator" content="TextMate http://macromates.com/">
		<meta name="author" content="John Myles White">
		<!-- Date: 2010-07-15 -->
	</head>

	<body>
		<div id="sidebar" class="column width1 first grid-example">
			<h1>PUMC</h1>
			<p>
				<ul>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/wall">PU Wall</a></li>
					<li><a href="/news_item">News</a></li>
					<li><a href="/photo">Photos</a></li>
					<li><a href="/link">Links</a></li>
				</ul>
			</p>
		</div>
		<div id="main" class="column width3 grid-example">
			<%= yield %>
		</div>
	</body>

</html>
